@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #000000;
  color: #ffffff;
}

a {
  @apply underline underline-offset-[6px] decoration-2 decoration-dotted;
}

.border-gradient-tbc {
  border-image: linear-gradient(
      to right bottom,
      theme("colors.tbc-yellow"),
      theme("colors.tbc-pink"),
      theme("colors.tbc-blue")
    )
    1;
}

.bg-gradient-tbc {
  background-image: linear-gradient(
    to right bottom,
    theme("colors.tbc-yellow"),
    theme("colors.tbc-pink"),
    theme("colors.tbc-blue")
  );
}
